# Python setup
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.venv/
venv/
ENV/

# Data
data/raw/*.csv
data/processed/

# Models
models/*.pkl

# MLflow
mlruns/

# IDEs
.idea/
.vscode/

# Config secrets
configs/secrets.yaml
